<%- include('head'); -%>
<%- include('header'); -%>



<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Profile Image</th>
              
            </tr>
        </thead>
        <tbody>
            <% userList.forEach((user, index) => { %>
            <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><%= user.firstName %></td>
                <td><%= user.lastName %></td>
                <td><%= user.email %></td>
                <td>  <img src="<%= user.profileUrl %> " class="img-fluid  rounded-circle " width="45px" height="45px" alt="N/A"></td>
                
            </tr>
            <% }) %>
        </tbody>
    </table>
    
  

</div>